* {
	margin: 0;
	padding: 0;
}

p {	
	display: inline-block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
}

.white_col {
	color: white;
}
div {
	box-sizing: border-box;
	border-collapse: collapse;
}

.all {
	display: flex;
	flex-direction: column;

}

.firstLine {
	display: flex;
}

.logo {
	background: #F0BE2E;
	width: 100px;
	height: 100px;
	border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.wrap {
	display: flex;
	flex-direction: column;
	width: calc(65% + 50px);
}
.menu {
	background: #F40F0F;
	height: 100px;
	flex-grow: 1;
	border-bottom: 1px solid black;	
}

.secondLine {
	display: flex;
	
}

.news_feed {
	background: #AC4C4C;
	width: 100px;
	height: 300px;
	border-right: 1px solid black;
}

.ln {
	display: flex;
	
}

.list {
	
	background: #F0BE2E;
	height: 300px;
	flex-grow: 2;
	
}

.navigation {
	background: #333333;
	width: calc(35% + 50px);
	height: 450px;
	border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.footer {
	background: #F0BE2E;
	height: 150px;
	border-bottom: 1px solid black;
    border-top: 1px solid black;
	flex-grow: 1;
}

