@import "mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    float: right;
    margin-top: 40px;
    margin-right: 220px;
}

h2 {
    display: inline;
    color: #323232;
    font-weight: bold;
    margin-right: 40px;
    position: absolute;
    top:32px;
    right: 30px;
}

body {
    background-color: #080808;
}

.parent {
    height: auto;
    position: relative;
    top: 180px;
    left: 100px;
    display: inline-grid;
    grid-template-columns: repeat(12, 50px);
  	grid-template-rows: repeat(5, 50px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

input:checked + .parent .square {
    @include circle;
}

.square {
    background-color: black;
    transition: 3s;
}

.square:hover {
    background-color: yellow;
    transition: 0.1s easy;
}

